{% extends  "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Food Index</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Add Brand</h2>
        
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

        {% crispy brand_form %}
    </div>
</div>
{% comment %}
<div class="row">
    <div class="col">
        <h2>Add Food</h2>

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

        {% crispy food_base_form %}
    </div>
</div>
{% endcomment %}
{% endblock %}